<% include('../partials/header') %>

<h1><%= title %></h1>

<%- messages() %>

<a href="/inv/add-classification" class="add-classification">Add New Classification</a>

<a href="/inv/add-vehicle" class="add-vehicle">Add Vehicle to Inventory</a>

<% include('../partials/footer') %>